.mainContainer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainhead {
  color: #1572D3;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.description {
  color: #323232;
  font-size: 1rem;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80%;
  margin-top: 5vh;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.searchInput {
  width: 300px;
  padding: 10px;
  border: 1px solid  #4595d7;
  background-color: #dddedf58;
  color: #323232;
  border-radius: 30px;
}

.sortSelect {
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #dddedf58;
  color: #323232;
  border: 1px solid  #4595d7;

  border-radius: 30px;
}

.priceFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #323232;
}

.rangeInputs {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.carsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 3rem;
}

.carcard {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 300px;
  cursor: pointer;
}

.carcard:hover {
  transform: scale(1.05);
}

.carImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.carInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.carName {
  color: #1942a1;
  font-size: 1.2rem;
  font-weight: bold;
}

.carDetails {
  color: #737373;
  font-size: 0.9rem;
  margin: 5px 0;
}

.rentbutton {
  background-color: #5794f5;
  width: 100%;
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
}

.rentbutton:hover {
  background-color: #4197f9;
  cursor: pointer;
}

.noResultsContainer{
  max-width: 100%;
 
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: white;
  color: #323232;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Added this line */
}
.popupdetailscontainer{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid rgba(14, 14, 14, 0.276);
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.descriptionContainer{
  padding: 10px;
  border-radius: 10px;
}

.closeButton {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 1.5rem;
  color: #F55757;
  cursor: pointer;
}


.popupImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}


.rentButton {
  background-color: #57bbf5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

.rentButton:hover {
  background-color: #41bcf9c4;
}

@media (max-width: 768px) {
  .container,
  .carsContainer {
    flex-direction: column;
  }

  .carcard {
    width: 90%;
  }

  .filterContainer {
    width: 100%;
    align-items: stretch;
  }
}

.disabledCard {
  opacity: 0.5;
  pointer-events: none;
  position: relative;
}

.notAvailableOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: red;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
}
